@media screen and (min-width: 1200px) {
  .game_time {
    display: flex;
    flex-direction: column;
    height: 80vh;
    align-items: center;
    min-height: 700px;
    justify-content: center;
  }

  .game_time button,
  .game_time a {
    padding: 10px;
    width: 40%;
    border-radius: 8px;
    border: none;
    text-align: center;
    font-family: var(--font-bold-);
    font-size: 21px;
    border: 1px solid var(--black-);
    background-color: var(--white-);
    color: var(--black-);
    transition: all 0.3s ease-in-out;
  }

  .game_time button:hover,
  .game_time a:hover {
    border: 1px solid var(--black-);
    background-color: var(--black-);
    color: var(--white-);
  }
}

@media screen and (767.98px <= width <= 991.98px) {
  .game_time {
    display: flex;
    flex-direction: column;
    height: 90vh;

    align-items: center;
    min-height: 700px;
    justify-content: center;
  }

  .game_time #game_btn {
    gap: 30px;
    /* flex-direction: column !important; */
    justify-content: center;
  }

  .game_time button,
  .game_time a {
    margin-bottom: 24px;
    padding: 8px;
    width: 100%;
    border-radius: 8px;
    border: none;
    text-align: center;
    font-family: var(--font-bold-);
    font-size: 21px;
    border: 1px solid var(--black-);
    background-color: var(--white-);
    color: var(--black-);
    transition: all 0.3s ease-in-out;
  }

  .game_time button:hover,
  .game_time a:hover {
    border: 1px solid var(--black-);
    background-color: var(--black-);
    color: var(--white-);
  }
}

@media screen and (575.98px <= width <= 767.98px) {
  .game_time {
    display: flex;
    flex-direction: column;
    height: 70vh;

    align-items: center;
    min-height: 700px;
    justify-content: center;
  }

  .game_time #game_btn {
    gap: 30px;
    /* flex-direction: column !important; */
    justify-content: center;
  }

  .game_time button,
  .game_time a {
    margin-bottom: 24px;
    padding: 8px;
    width: 100%;
    border-radius: 8px;
    border: none;
    text-align: center;
    font-family: var(--font-bold-);
    font-size: 20px;
    border: 1px solid var(--black-);
    background-color: var(--white-);
    color: var(--black-);
    transition: all 0.3s ease-in-out;
  }

  .game_time button:hover,
  .game_time a:hover {
    border: 1px solid var(--black-);
    background-color: var(--black-);
    color: var(--white-);
  }
}

@media screen and (max-width: 575.98px) {
  .game_time {
    display: flex;
    flex-direction: column;
    height: 70vh;
    align-items: center;
    min-height: 700px;
    justify-content: center;
  }

  .game_time #game_btn {
    flex-direction: column !important;
    justify-content: center;
  }

  .game_time button,
  .game_time a {
    margin-bottom: 22px;
    padding: 8px;
    width: 100%;
    border-radius: 8px;
    border: none;
    text-align: center;
    font-family: var(--font-bold-);
    font-size: 20px;
    border: 1px solid var(--black-);
    background-color: var(--white-);
    color: var(--black-);
    transition: all 0.3s ease-in-out;
  }

  .game_time button:hover,
  .game_time a:hover {
    border: 1px solid var(--black-);
    background-color: var(--black-);
    color: var(--white-);
  }
}
