@media screen and (min-width: 1200px) {
  .mainNav {
    padding: 21px;
    /* background-color: var(--dark-green-); */
    box-shadow: var(--box-shadow-);
  }

  .logo a {
    font-size: 35px;
    color: var(--black-);
    font-family: var(--font-bold-);
  }
}

@media screen and (991.98px <= width <= 1199.98px) {
  .mainNav {
    padding: 18px;
    background-color: var(--dark-green-);
    box-shadow: var(--box-shadow-);
  }

  .logo a {
    font-size: 32px;
    color: var(--black-);
    font-family: var(--font-bold-);
  }
}

@media screen and (767.98px <= width <= 991.98px) {
  .mainNav {
    padding: 15px;
    background-color: var(--dark-green-);
    box-shadow: var(--box-shadow-);
  }

  .logo a {
    font-size: 30px;
    color: var(--black-);
    font-family: var(--font-bold-);
  }
}

@media screen and (575.98px <= width <= 767.98px) {
  .mainNav {
    padding: 12px;

    box-shadow: var(--box-shadow-);
  }

  .logo a {
    font-size: 28px;
    color: var(--black-);
    font-family: var(--font-bold-);
  }
}

@media screen and (max-width: 575.98px) {
  .mainNav {
    padding: 10px;
    /* background-color: var(--dark-green-); */
    box-shadow: var(--box-shadow-);
  }

  .logo a {
    font-size: 25px;
    color: var(--black-);
    font-family: var(--font-bold-);
  }
}
